<div>
  <div>
    <span>User Detail</span>
  </div>
  <p *ngIf="!user">Retreiving data... this may take a while...</p>
  <table class='table table-sm' *ngIf="user">
    <tr><td>Id:</td><td>{{ user.id }}<td></tr>
    <tr><td>Name:</td><td>{{ user.firstName }} {{ user.lastName }}<td></tr>
    <tr><td>Username:</td><td>{{ user.userName }}<td></tr>
    <tr><td>Phone:</td><td>{{ user.phoneNumber }}<td></tr>
    <tr><td>Email:</td><td>{{ user.email }}<td></tr>
    <tr><td>Reviewer?</td><td>{{ user.isReviewer ? "Yes" : "No"}}<td></tr>
    <tr><td>Admin?</td><td>{{ user.isAdmin ? "Yes" : "No"}}<td></tr>
  </table>
</div>


