<div>
  <div>
    <span>Purchase Request Review </span>
  </div>

  <table class="table table-sm" *ngIf = "requests">
    <thead>
<tr>
  <td>Description</td>
  <td>Justification</td>
  <td>Date Needed</td>
  <td>Delivery Mode</td>
  <td>Status</td>
  <td>User</td>
  <td>Action</td>
</tr>
</thead>

<tbody>
<tr *ngFor='let request of requests'>
  <td>{{ request.description }}</td>
  <td>{{ request.justification }}</td>
  <td>{{ request.dateNeeded | date }}</td>
  <td>{{ request.deliveryMode }}</td>
  <td>{{ request.status }}</td>
  <td>{{ request.user.userName }}</td>
  <td>
    <a routerLink='/purchaserequests/detail/{{ request.id }}'>Detail</a>
  </td> 
</tr>
</tbody>
</table>
</div>
