<div class='component'>
  <div>
    <span class='page-title'>User Edit</span>
  </div>

  <div class='container form' *ngIf='user'>

    <div class='form-group row'>
      <label class='col-form-label col-sm-2'>Username:</label>
      <div class='col-sm-8'>
        
        <input [(ngModel)]='user.userName' class='form-control' type='text' name='userName'
          #userName='ngModel' required minlength='8'>
      </div>
      <div *ngIf='userName.invalid && userName.touched' class='col-form-label col=sm-2 text-danger'>
        <label *ngIf='userName?.errors.required'>Required</label>
        <label *ngIf='userName?.errors.minlength'>8 chars min</label>
      </div>
    </div>

    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>First Name:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]='user.firstName' class='form-control' type='text' name='firstName'
            #firstName='ngModel' required minlength='1'>
        </div>
        <div *ngIf='firstName.invalid && firstName.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='firstName?.errors.required'>Required</label>
          <label *ngIf='firstName?.errors.minlength'>1 char min</label>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Last Name:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]='user.lastName' class='form-control' type='text' name='lastName'
            #lastName='ngModel' required minlength='3'>
        </div>
        <div *ngIf='lastName.invalid && lastName.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='lastName?.errors.required'>Required</label>
          <label *ngIf='lastName?.errors.minlength'>3 char min</label>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Password:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]='user.password' class='form-control' type='text' name='password'
            #password='ngModel' required minlength='8'>
        </div>
        <div *ngIf='password.invalid && password.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='password?.errors.required'>Required</label>
          <label *ngIf='password?.errors.minlength'>8 chars min</label>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Phone:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]='user.phoneNumber' class='form-control' type='text' name='phoneNumber'
            #phoneNumber='ngModel' required minlength='12'>
        </div>
        <div *ngIf='phoneNumber.invalid && phoneNumber.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='phoneNumber?.errors.required'>Required</label>
          <label *ngIf='phoneNumber?.errors.minlength'>8 chars min</label>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Email:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]='user.email' class='form-control' type='text' name='email'
            #email='ngModel' required minlength='3'>
        </div>
        <div *ngIf='email.invalid && email.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='email?.errors.required'>Required</label>
          <label *ngIf='email?.errors.minlength'>3 chars min</label>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Reviewer: </label>
        <div class='col-sm-8'>
          <input [(ngModel)]='user.reviewer' class='form-control' type='checkbox' name='reviewer'
            #reviewer='ngModel'>
        </div>
    </div> 
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Admin: </label>
        <div class='col-sm-8'>
          <input [(ngModel)]='user.admin' class='form-control' type='checkbox' name='admin'
            #admin='ngModel'>
        </div>
    </div>  
    <div>
      <button class='btn btn-primary' (click)='save()'>Save</button>
    </div> 
  </div>


