<div>
  <div>
  <span>Request Detail</span>
</div>
<p *ngIf='!request'>Retrieving data... this may take a while...</p>
<table class='table table-sm' *ngIf='request'>
  <tr><td>ID:</td><td>{{ request.id }}<td></tr>
  <tr><td>Description:</td><td>{{ request.description }}<td></tr>
  <tr><td>Justification:</td><td>{{ request.justification }}<td></tr>
  <tr *ngIf='request.reasonForRejection'><td>Reason for Rejection:</td><td>{{ request.reasonForRejection }}</td></tr>
  <tr><td>Delivery Mode:</td><td>{{ request.deliveryMode }}<td></tr>
  <tr><td>Submitted Date</td><td>{{ request.submittedDate | date : medium }}<td></tr>
  <tr><td>Date Needed:</td><td>{{ request.dateNeeded | date }}<td></tr>
  <tr><td>Status</td><td>{{ request.status }}<td></tr>
  <tr><td>Total</td><td>{{ request.total | currency  }}<td></tr>   
</table>
<div>
  <button class='btn btn-info' (click)='review()'>Review</button>  
  <a routerLink='/purchaserequests/edit/{{request.id}}' class='btn btn-warning'>Edit</a>
  <button class='btn btn-danger' (click)='delete()'>Delete</button>
</div>
</div>