<div>
  <div>
    <span>User List | </span>
    <a routerLink="/users/add">Create New</a>
  </div>

  <table class="table table-sm">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Username</td>
        <td>Reviewer?</td>
        <td>Admin?</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users'>
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.userName }}</td>

        <td>
          <a routerLink='/users/detail/{{user.id}}'>Detail</a>
          | <a routerLink='/users/edit/{{user.id}}'>Edit</a>
        </td> 
      </tr>
    </tbody>
  </table>
</div>