<div>
  <div>
    <span>Purchase Request Line Item List | </span>
    <a routerLink="/purchaserequestlineitems/add/:id">Create New</a>
  </div>
<div>
  <table class="table table-sm" *ngIf = "request">
      <tr>
        <td>User</td>
        <td>{{ request.user.userName }}</td>
        <td>Description</td>
        <td>{{ request.description }}</td>
      </tr>
      <tr>
        <td>Justification</td>
        <td>{{ request.justification }}</td>
        <td>Date Needed</td>
        <td>{{ request.dateNeeded | date }}</td>
      </tr>
      <tr>
        <td>Delivery Mode</td>
        <td>{{ request.deliveryMode }}</td>
        <td>Status</td>
        <td>{{ request.status }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ request.total | currency }}</td>
        <td>Submitted Date</td>
        <td>{{ request.submittedDate | date }}</td>
      </tr>
      <tr>
        <td>Reason For Rejection</td>
        <td>{{ request.reasonForRejection }}</td>
      </tr>
</table>
</div>
<div>
<span>Line Item | <a routerLink='/lines/add/{{ request.id }}'></a></span>
<table class="table table-sm" *ngIf = "lines">
  <thead>
<tr>
<td>Product</td>
<td>Price</td>
<td>Quantity</td>

</tr>
</thead>

<tbody>
<tr *ngFor='let line of lines'>
<td>{{ line.product.name }}</td>
<td>{{ line.product.price }}</td>
<td>{{ line.quantity }}</td>

<td>
  <a routerLink='/lines/detail/{{line.id}}'>Detail</a>
  | <a routerLink='/lines/edit/{{line.id}}'>Edit</a>
</td> 
</tr>
</tbody>
</table>
</div>
</div>