<div class='component'>
  <div>
    <span class='page-title'>Request Edit</span>
  </div>

  <div class='container form' *ngIf='request'>

      <div class='form-group row'>
          <label class='col-form-label col-sm-2'>ID:</label>
          <div class='col-sm-8'>
            
            <input [(ngModel)]='request.id' class='form-control' type='number' name='id'
              #id='ngModel' disabled required minlength='1'>
          </div>
          <div *ngIf='id.invalid && id.touched' class='col-form-label col=sm-2 text-danger'>
            <label *ngIf='id?.errors.required'>Required</label>
            <label *ngIf='id?.errors.minlength'>1 chars min</label>
          </div>
        </div>
      <div class='form-group row'>
      <label class='col-form-label col-sm-2'>Description:</label>
      <div class='col-sm-8'>
        
        <input [(ngModel)]='request.description' class='form-control' type='text' name='description'
          #description='ngModel' required minlength='3'>
      </div>
      <div *ngIf='description.invalid && description.touched' class='col-form-label col=sm-2 text-danger'>
        <label *ngIf='description?.errors.required'>Required</label>
        <label *ngIf='description?.errors.minlength'>3 chars min</label>
      </div>
    </div>

    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Justification:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]='request.justification' class='form-control' type='text' name='justification'
            #justification='ngModel' required minlength='5'>
        </div>
        <div *ngIf='justification.invalid && justification.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='justification?.errors.required'>Required</label>
          <label *ngIf='justification?.errors.minlength'>5 char min</label>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Date Needed:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]='request.dateNeeded' class='form-control' type='text' name='dateNeeded'
            #dateNeeded='ngModel' required minlength='3'>
        </div>
        <div *ngIf='dateNeeded.invalid && dateNeeded.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='dateNeeded?.errors.required'>Required</label>
          <label *ngIf='dateNeeded?.errors.minlength'>3 char min</label>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Delivery Mode:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]='request.deliveryMode' class='form-control' type='text' name='deliveryMode'
            #deliveryMode='ngModel' required minlength='2'>
        </div>
        <div *ngIf='deliveryMode.invalid && deliveryMode.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='deliveryMode?.errors.required'>Required</label>
          <label *ngIf='deliveryMode?.errors.minlength'>2 chars min</label>
        </div>
    </div>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2'>Status:</label>
      <div class='col-sm-8'>
        
        <input [(ngModel)]='request.status' class='form-control' type='text' name='status'
          #status='ngModel' required minlength='3'>
      </div>
      <div *ngIf='status.invalid && status.touched' class='col-form-label col=sm-2 text-danger'>
        <label *ngIf='status?.errors.required'>Required</label>
        <label *ngIf='status?.errors.minlength'>3 char min</label>
      </div>
  </div>
  <div class='form-group row'>
    <label class='col-form-label col-sm-2'>Total:</label>
    <div class='col-sm-8'>
      
      <input [(ngModel)]='request.total' class='form-control' type='number' name='total'
        #total='ngModel' required minlength='3'>
    </div>
    <div *ngIf='total.invalid && total.touched' class='col-form-label col=sm-2 text-danger'>
      <label *ngIf='total?.errors.required'>Required</label>
      <label *ngIf='total?.errors.minlength'>3 char min</label>
    </div>
</div>
<div class='form-group row'>
  <label class='col-form-label col-sm-2'>Submitted Date:</label>
  <div class='col-sm-8'>
    
    <input [(ngModel)]='request.submittedDate' class='form-control' type='text' name='submittedDate'
      #submittedDate='ngModel' required minlength='3'>
  </div>
  <div *ngIf='submittedDate.invalid && submittedDate.touched' class='col-form-label col=sm-2 text-danger'>
    <label *ngIf='submittedDate?.errors.required'>Required</label>
    <label *ngIf='submittedDate?.errors.minlength'>3 char min</label>
  </div>
</div>
<div class='form-group row'>
  <label class='col-form-label col-sm-2'>Reason for Rejection:</label>
  <div class='col-sm-8'>
    
    <input [(ngModel)]='request.reasonForRejection' class='form-control' type='text' name='reasonForRejection'
      #reasonForRejection='ngModel' required minlength='3'>
  </div>
  <div *ngIf='reasonForRejection.invalid && reasonForRejection.touched' class='col-form-label col=sm-2 text-danger'>
    <label *ngIf='reasonForRejection?.errors.required'>Required</label>
    <label *ngIf='reasonForRejection?.errors.minlength'>3 char min</label>
  </div>
</div>
<div class='form-group row'>
  <label class='col-form-label col-sm-2'>User:</label>
  <div class='col-sm-8'>
    
    <input [(ngModel)]='request.user.userName' class='form-control' type='text' name='userName'
      #userName='ngModel' disabled required minlength='3'>
  </div>
  <div *ngIf='userName.invalid && userName.touched' class='col-form-label col=sm-2 text-danger'>
    <label *ngIf='userName?.errors.required'>Required</label>
    <label *ngIf='userName?.errors.minlength'>3 char min</label>
  </div>
</div>
    <div>
      <button class='btn btn-primary' (click)='save()'>Save</button>
    </div> 
  </div>