<div class="component">
    <div>
      <span class="page-title">Line Item Add</span>
    </div>
  
    <div class='container form' *ngIf="line">
  
      <div class='form-group row'>
          <label class='col-form-label col-sm-2'>Product:</label>
            <div class="col-sm-8">
              <select [(ngModel)]="line.product" class="form-control" name="product">
                <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
              </select>
            </div>
          </div> 
      <div class='form-group row'>
          <label class='col-form-label col-sm-2'>Quantity:</label>
          <div class='col-sm-8'>
            
            <input [(ngModel)]="line.quantity" class='form-control' type='number' name='quantity'
              #quantity='ngModel' required minlength='1'>
          </div>
          <div *ngIf='quantity.invalid && quantity.touched' class='col-form-label col=sm-2 text-danger'>
            <label *ngIf='quantity?.errors.required'>Required</label>
            <label *ngIf='quantity?.errors.minlength'>Please enter a quantity</label>
          </div>
      </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Active: </label>
        <div class='col-sm-8'>
          <input [(ngModel)]='line.admin' class='form-control' type='checkbox' name='active'
            #active='ngModel'>
        </div>
    </div>
  </div>  
      <div>
        <button (click)='create()' class='btn btn-primary'>Create</button>
      </div> 
    </div>
