<div>
  <div>
    <span>Purchase Request List | </span>
    <a routerLink="/purchaserequests/add">Create New</a>
  </div>

  <table class="table table-sm" *ngIf = "requests">
    <thead>
<tr>
  <td>ID</td>
  <td>Description</td>
  <td>Justification</td>
  <td>Date Needed</td>
  <td>Delivery Mode</td>
  <td>Status</td>
  <td>Total</td>
  <td>Submitted Date</td>
  <td>Reason for Rejection</td>
  <td>User</td>
</tr>
</thead>

<tbody>
<tr *ngFor='let request of requests'>
  <td>{{ request.id }}</td>
  <td>{{ request.description }}</td>
  <td>{{ request.justification }}</td>
  <td>{{ request.dateNeeded | date }}</td>
  <td>{{ request.deliveryMode }}</td>
  <td>{{ request.status }}</td>
  <td>{{ request.total | currency }}</td>
  <td>{{ request.submittedDate | date }}</td>
  <td>{{ request.reasonForRejection }}</td>
  <td>{{ request.user.userName }}</td>

  <td>
    <a routerLink='/purchaserequests/detail/{{ request.id }}'>Detail</a>
    | <a routerLink='/purchaserequests/edit/{{ request.id }}'>Edit</a>
    | <a routerLink='/purchaserequestlineitems/list{{ request.id }}'>Lines</a> 
  </td> 
</tr>
</tbody>
</table>
</div>
