<div>
  <div>
  <span>Purchase Request Line Item Detail</span>
</div>
<p *ngIf="!line">Retrieving data... this may take a while...</p>
<table class='table table-sm' *ngIf="line">
  <tr><td>User Name</td><td> {{ line.request.user.userName }}</td></tr>
  <tr><td>Product:</td><td>{{ line.product.name }}<td></tr>
  <tr><td>Price:</td><td>{{ line.product.price | currency }}</td></tr>
  <tr><td>Quantity:</td><td>{{ line.quantity }}<td></tr>
</table>
<div>
    <a routerLink='/lines/edit/{{ line.id }}' class='btn btn-warning' (click)='edit()'>Edit</a>
    <button class='btn btn-danger' (click)='remove()'>Remove</button>
    <a routerLink='/requests/detail/{{ request.id }}'>Detail</a> 

</div>
</div>

