<div class="component">
    <div>
      <span class="page-title">Product Add</span>
    </div>
  
    <div class='container form' *ngIf="product">
  
      <div class='form-group row'>
        <label class='col-form-label col-sm-2'>Part Number:</label>
        <div class='col-sm-8'>
          
          <input [(ngModel)]="product.partNumber" class='form-control' type='text' name='partNumber'
            #partNumber='ngModel' required minlength='3'>
        </div>
        <div *ngIf='partNumber.invalid && partNumber.touched' class='col-form-label col=sm-2 text-danger'>
          <label *ngIf='partNumber?.errors.required'>Required</label>
          <label *ngIf='partNumber?.errors.minlength'>3 chars min</label>
        </div>
      </div>

      <div class='form-group row'>
          <label class='col-form-label col-sm-2'>Name:</label>
          <div class='col-sm-8'>
            
            <input [(ngModel)]="product.name" class='form-control' type='text' name='name'
              #name='ngModel' required minlength='1'>
          </div>
          <div *ngIf='name.invalid && name.touched' class='col-form-label col=sm-2 text-danger'>
            <label *ngIf='name?.errors.required'>Required</label>
            <label *ngIf='name?.errors.minlength'>1 char min</label>
          </div>
      </div>
      <div class='form-group row'>
          <label class='col-form-label col-sm-2'>Price:</label>
          <div class='col-sm-8'>
            
            <input [(ngModel)]="product.price" class='form-control' type='text' name='price'
              #price='ngModel' required minlength='3'>
          </div>
          <div *ngIf='price.invalid && price.touched' class='col-form-label col=sm-2 text-danger'>
            <label *ngIf='price?.errors.required'>Required</label>
            <label *ngIf='price?.errors.minlength'>3 char min</label>
          </div>
      </div>
      <div class='form-group row'>
          <label class='col-form-label col-sm-2'>Unit:</label>
          <div class='col-sm-8'>
            
            <input [(ngModel)]="product.unit" class='form-control' type='text' name='unit'
              #unit='ngModel'>
          </div>
          <div *ngIf='unit.invalid && unit.touched' class='col-form-label col=sm-2 text-danger'>
            <label *ngIf='unit?.errors.required'>Required</label>
            <label *ngIf='unit?.errors.minlength'>1 chars min</label>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-form-label col-sm-2">Photo Path:</label>
          <div class="col-sm-8">
            <input [(ngModel)]="product.photoPath" class="form-control" type="text" name="photoPath"
              #photoPath="ngModel">
          </div>
          <div *ngIf="photoPath.invalid && photoPath.touched" class="col-form-label col-sm-2 text-danger">
            <label *ngIf="photoPath?.errors.required">Required</label>
            <label *ngIf="photoPath?.errors.minlength">8 chars min</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-form-label col-sm-2">Vendor:</label>
          <div class="col-sm-8">
            <select [(ngModel)]="product.vendor" class="form-control" name="vendor"
            #vendor='ngModel'>
              <option *ngFor="let vendor of vendors" [ngValue]="vendor">{{ vendor.name }}</option>
            </select>
          </div>
        </div> 
      <div>
        <button class='btn btn-primary' (click)='save()'>Save</button>
      </div> 
    </div>

  
